// #ffd337 yellow
// #fff white
// #2d2d2d black
// #c2c2c2 secondary
.card {
  width: 300px;
  border-radius: 12px;
  background-color: #fff;
  padding: 12px;
  cursor: pointer;
  .title {
    color: #2d2d2d;
    font-weight: 700;
  }
  .description {
    color: #c2c2c2;
    margin-bottom: 24px;
  }
  .progress-bar {
    width: 300px;
    height: 8px;
    border-radius: 8px;
    background-color: #f1f1f1;
    .active {
      border-radius: inherit;
      width: 100px;
      height: inherit;
      background-color: #ffd337;
    }
  }
  .deadline {
    padding-top: 12px; 
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 500;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .avatar-container {
      display: flex;
      align-items: center;
      .avatar {
        border-radius: 100%;
        width: 30px;
        border: 2px solid #fff;
        &:not(:first-child) {
          margin-left: -12px;
        }
      }
    }
    .option-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 24px;
      padding: 8px;
      transition: all ease .15s;
      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}
